/* Regola di Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale del corpo della pagina */
body {
    background-color: blue;
    color: white;
}

/* Banner e contenuti visivi */
img {
    display: block;
    max-width: 100%;
}

/* Sezione principale della pagina */
.page-main {
    padding: 1rem;
 }

 /* Intestazione principale */
 .main-header {
    text-align: center;
 }

 /* Pulsanti stile di base */
 .btn {
    display: block;
    margin: 16px 0;
    border: none;
    width: 100%;
    padding: 6px 12px;
}

/* Titolo dell'intestazione principale */
.main-header > {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}







    
   