/* Regola di Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale del corpo della pagina */
body {
    background-color: blue;
    color: white;
}

/* Banner e contenuti visivi */
img {
    display: block;
    max-width: 100%;
}

/* Sezione principale della pagina */
.page-main {
    padding: 1rem;
 }

 /* Intestazione principale */
 .main-header {
    text-align: center;
 }

 /* Pulsanti stile di base */
 .btn {
    display: block;
    margin: 16px 0;
    border: none;
    width: 100%;
    padding: 6px 12px;
}

/* Titolo dell'intestazione principale */
.main-header > {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

/* Schede */
.card {
    margin: 2rem auto;
    background-color: #5D64D1;
    padding: 2rem;
    border-radius: 8px;
 }
 
 /* Pulsanti versione aggiornata */
 .btn {
    display: block;
    width: 100%;
    padding: 16px 12px;
    border: none;
    margin: 16px 0;
    border-radius: 14px;
    font-size: 1rem;
}

/* Pulsante primario */
.btn.btn-primari {
    background-color: white;
    color: black;
 }
 
 /* Pulsante secondario */
 .btn.btn-secondari {
    background-color: #5865f2;
    color: white;
 }

 /* Layout della sezione principale */
 .page-main {
    padding: 2rem;
 }

 /* Seconda intestazione */
 .main-header { 
    text-align: center;
    padding: 2rem;
 }
 
 /* Titolo della seconda intestazione */
 .main-header > h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
 }















    
   